<section class="clients">
    <div class="clients__outer-container">
        <div class="clients__inner-container container">
            <div class="row">
                <div class="col-12 ">

                    <div class="align-content title-w-control">
                        <h1>View Clients</h1>
                        <a routerLink="/clients/add" class="btn btn-success text-white control">Add new</a>
                    </div>

                    <div class="table-responsive">

                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Name
                                    </th>
                                    <th scope="col">
                                        Client since
                                    </th>
                                    <th scope="col">
                                        Total work value
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="clients.length > 0">
                                <tr *ngFor="let client of clients">
                                    <th scope="col">
                                        <a routerLink="/clients/{{ client.id }}">{{ client.name }}</a>
                                    </th>
                                    <th scope="col">
                                        {{ client.client_since | date }}
                                    </th>
                                    <th scope="col">
                                        {{ client.value | currency: 'GBP' }}
                                    </th>
                                </tr>
                            </tbody>
                            <tbody *ngIf="error">
                                <tr>
                                    <th colspan="3">Unable to get invoices..</th>
                                </tr>
                            </tbody>
                            <tbody *ngIf="!error && clients.length < 1">
                                <tr>
                                    <th colspan="3">Getting invoices..</th>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

