/* You can add global styles to this file, and also import other style files */

.title-w-control {

  margin-bottom: 1rem;

  > h1 {
    margin-right: 0.5rem;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.table  {
  border: none;

  thead th,
  tfoot th {
    background: #e4e4e4;
  }
}

.single-item {
  &__actions {
    button {
      margin-right: 0.4rem;
    }
  }
}