<section class="client">
    <div class="client__outer-container">
        <div class="client__inner-container container">
            <div class="row">
                <div class="offset-2 col-8">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-info" (click)="goBack()">Back</button>
                        </div>
                        <div class="col-12 align-content title-w-control" *ngIf="client">
                            <h1>Client details</h1>
                            <a routerLink="/clients/{{ client.id }}/edit" class="btn btn-info text-white control">Edit</a>
                        </div>
                    </div>

                    <div class="row" *ngIf="client">

                        <div class="col-12">


                            <table class="table table-bordered table-striped">

                                <thead>
                                    <tr>
                                        <th>{{ client.name }}</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <th>Address</th>
                                        <td>
                                            <span *ngFor="let address_line of client.address; index as i" >
                                                {{ address_line }}<span *ngIf="client.address.length !== (i + 1)">,</span>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Office number</th>
                                        <td>
                                            {{ client.phone_number }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Client since</th>
                                        <td>
                                            {{ client.client_since | date }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Value of work</th>
                                        <td>
                                            {{ client.value | currency : 'GBP' }}
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>