<form (ngSubmit)="onSubmit()" #addInvoiceForm="ngForm">

    <div class="form-group" method="post">

        <label>
            Choose client:
            <select class="form-control" [(ngModel)]="invoice.client_id" name="client_id" (change)="getClientJobs()">
                <option class="disabled" disabled="disabled">choose a client</option>
                <option *ngFor="let client of clients" [selected]="invoice.client_id == client.id" [value]="client.id">{{ client.name }}</option>
            </select>
        </label>

    </div>

    <div class="form-group" *ngIf="invoice.client_id" (load)="getClientJobs()">
        <label>Choose jobs</label>
        <select class="form-control" multiple [(ngModel)]="invoice.jobs" name="invoiceJobs">
            <option *ngFor="let job of clientJobs; index as i" [value]="job.id">
                {{ job.title }} ({{ job.cost_quoted/100 | currency : 'GBP' }}):
            </option>
        </select>
    </div>

    <div class="form-group">
        <label>
            Date sent:
        <input class="form-control" type="date" name="date_sent" [(ngModel)]="invoice.date_sent">
        </label>
    </div>

    <div class="form-group">
        <label>
            Date due:
            <input class="form-control" type="date" name="date_due" [(ngModel)]="invoice.date_due">
        </label>
    </div>

    <div>
        <button class="btn btn-success float-right" [disabled]="submitted">Save</button>
    </div>

</form>