<section class="job">
    <div class="job__outer-container">
        <div class="job__inner-container container">
            <div class="row">
                <div class="offset-2 col-8">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-info" (click)="goBack()">Back</button>
                        </div>
                        <div class="col-12 align-content title-w-control" *ngIf="job">
                            <h1>job details</h1>
                            <a routerLink="/jobs/{{ job.id }}/edit" class="btn btn-info text-white control">Edit</a>
                        </div>
                    </div>

                    <div class="row" *ngIf="job">

                        <div class="col-12">

                            <table class="table table-bordered table-striped">

                                <thead>
                                    <tr>
                                        <th>
                                            <span class="btn btn-success" *ngIf="job.completed">Complete</span>
                                            <span class="btn btn-danger" *ngIf="!job.completed">Incomplete</span>
                                            JB{{ 100000 + job.id }}
                                        </th>
                                        <td>
                                            <div class="single-item__actions">
                                                <button *ngIf="!job.completed" class="btn btn-success" (click)="markAsComplete()">Mark as Complete</button>
                                                <button *ngIf="job.completed" class="btn btn-warning" (click)="markAsIncomplete()">Mark as Incomplete</button>
                                                <button class="btn btn-danger" (click)="deleteJob()">Delete job</button>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <th>Title</th>
                                        <td>{{ job.title }}</td>
                                    </tr>

                                    <tr>
                                        <th>Description</th>
                                        <td>
                                            {{ job.description }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Client</th>
                                        <td>
                                            <a routerLink="/clients/{{ job.client.id }}">{{ job.client.name }}</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Date accepted</th>
                                        <td>{{ job.date_accepted | date }}</td>
                                    </tr>

                                    <tr>
                                        <th>Date due</th>
                                        <td>{{ job.date_due | date }}</td>
                                    </tr>


                                    <tr>
                                        <th>Cost quoted</th>
                                        <td>{{ job.cost_quoted/100 | currency : 'GBP' }}</td>
                                    </tr>

                                    <tr>
                                        <th>Completed</th>
                                        <td *ngIf="job.completed">completed</td>
                                        <td *ngIf="!job.completed">pending</td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>