<section class="add-edit-client">
    <div class="add-edit-client__outer-container">
        <div class="add-edit-client__inner-container container">
            <div class="row">
                <div class="offset-md-4 col-12 col-md-4">

                    <div class="col-12">
                        <button class="btn btn-info" (click)="goBack()">Back</button>
                    </div>
                    <div>
                        <h1>Add client</h1>
                        <app-add-edit-client [client]="client" [saveForm]="true"></app-add-edit-client>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>