
<form (ngSubmit)="onSubmit()" #clientForm="ngForm" *ngIf="client" method="post">
<div class="form-group">
    <label>Client name:
        <input class="form-control" name="name" [(ngModel)]="client.name"/>
    </label>
</div>
<div class="form-group">
    <label>
        Client since:
        <ng-template *ngIf="!saveForm; then presentCS; else createCS">
        </ng-template>

        <ng-template #presentCS>
            <input type="date" class="form-control" name="clientSince" [value]="client.client_since| date : 'yyyy-MM-dd'" disabled/>
        </ng-template>

        <ng-template #createCS>
            <input type="date" class="form-control" name="clientSince" [(ngModel)]="client.client_since"/>
        </ng-template>
    </label>
</div>
<div class="form-group">

    <label>Address 1:
        <input type="text" class="form-control" name="address_1" [(ngModel)]="client.address[0]"/>
    </label>
    <label>Address 2:
        <input type="text" class="form-control" name="address_2" [(ngModel)]="client.address[1]"/>
    </label>
    <label>Town/city:
        <input type="text" class="form-control" name="address_3" [(ngModel)]="client.address[2]"/>
    </label>
    <label>County:
        <input type="text" class="form-control" name="address_4" [(ngModel)]="client.address[3]"/>
    </label>
    <label>Postcode:
        <input type="text" class="form-control" name="address_5" [(ngModel)]="client.address[4]"/>
    </label>
</div>
<div class="form-group">
    <label>Phone number:
        <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="client.phone_number"/>
    </label>
</div>
<div>

    <button class="btn btn-success float-right">Save</button>


</div>
</form>