<template>
  <div id="app">
      <h1>You found it</h1>
    <div id="nav">
        <nav>
            <ul>
                <li>
                    <router-link to="/">Clients</router-link>
                </li>
                <li>
                    <router-link to="/jobs">Jobs</router-link>
                </li>
                <li>
                    <router-link to="/invoices">Invoices</router-link>
                </li>
            </ul>
        </nav>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

    @import "../node_modules/bootstrap/scss/bootstrap";
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
    }
    #nav {
      padding: 30px;
      a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
          color: #42b983;
        }
      }
    }
</style>
