<section class="invoice">
    <div class="invoice__outer-container">
        <div class="invoice__inner-container container">
            <div class="row">
                <div class="offset-2 col-8">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-info" (click)="goBack()">Back</button>
                        </div>
                        <div class="col-12 align-content title-w-control" *ngIf="invoice">
                            <h1>Invoice details</h1>
                            <a routerLink="/invoices/{{ invoice.id }}/edit" class="btn btn-info text-white control">Edit</a>
                        </div>
                    </div>

                    <div class="row" *ngIf="invoice">

                        <div class="col-12">


                            <table class="table table-bordered table-striped">

                                <thead>
                                    <tr>
                                        <th>
                                            <span class="btn btn-success" *ngIf="invoice.paid">PAID</span>
                                            <span class="btn btn-danger" *ngIf="!invoice.paid">UNPAID</span> INV{{ 100000 + invoice.id }}
                                        </th>
                                        <td>
                                            <div class="single-item__actions">
                                                <button *ngIf="!invoice.paid" class="btn btn-success" (click)="markAsPaid()">Mark as Paid</button>
                                                <button *ngIf="invoice.paid" class="btn btn-warning" (click)="markAsUnpaid()">Mark as unpiad</button>
                                                <button class="btn btn-danger" (click)="deleteInvoice()">Delete invoice</button>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <th>Client</th>
                                        <td>
                                            <a routerLink="/clients/{{ invoice.client.id }}">{{ invoice.client.name }}</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Amount billed</th>
                                        <td>

                                            {{ invoice.display_amount | currency : 'GBP' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date sent</th>
                                        <td>
                                            {{ invoice.date_sent | date }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Date due</th>
                                        <td>
                                            {{ invoice.date_due | date }}
                                        </td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="row" *ngIf="invoice && invoice.jobs">
                        <div class="col-12 align-content title-w-control">
                            <h1>Associated Jobs</h1>
                        </div>
                    </div>

                    <div class="row" *ngIf="invoice && invoice.jobs">

                        <div class="col-12">


                            <table class="table table-bordered table-striped">

                                <thead>
                                    <tr>
                                        <th>Job title</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="invoice.jobs.length">


                                    <tr *ngFor="let job of invoice.jobs">
                                        <td>
                                            <a routerLink="/jobs/{{ job.id }}">{{ job.title }}</a>
                                        </td>
                                        <td>
                                            {{ job.display_amount | currency: 'GBP'}}
                                        </td>
                                    </tr>

                                </tbody>

                                <tfoot *ngIf="invoice.jobs.length">
                                    <td class="text-right">total:</td>
                                    <th>{{ invoice.display_amount | currency: 'GBP'}}</th>
                                </tfoot>

                                <tbody *ngIf="!invoice.jobs.length">

                                    <tr>
                                        <th colspan="2">
                                            <p>No jobs avialable for this invoice</p>
                                        </th>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>