<header class="header">
    <div class="header__outer-container">
        <div class="header__inner-container container">
            <div class="row">
                <div class="col-12">
                    <nav class="header__navigation">
                        <ul>
                            <li>
                                <a routerLink="/clients" routerLinkActive="active">Clients</a>
                            </li>
                            <li>
                                <a routerLink="/jobs" routerLinkActive="active">Jobs</a>
                            </li>
                            <li>
                                <a routerLink="/invoices" routerLinkActive="active">Invoices</a>
                            </li>
                        </ul>
                        {{ this.route }}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-container">
    <div class="main-container__outer-container">
        <div class="main-container__inner-container container">
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
