.header {

  &__outer-container {
    background: lightblue;
    margin-bottom: 1rem;
  }

  &__inner-container {

  }

  &__navigation {

    padding-top: 1rem;
    padding-bottom: 1rem;

    ul {
      padding-right: 0;
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      margin-right: 0.1rem;
    }

    a {
      display: block;
      padding: 0.3rem 0.8rem;

      &.active {
        background: #FFF;
      }

      &:hover {
        background: #f1f1f1;
      }
    }
  }
}