<section class="clients">
    <div class="clients__outer-container">
        <div class="clients__inner-container container">
            <div class="row">
                <div class="col-12">

                    <div class="align-content title-w-control">
                        <h1>View Invoices</h1>
                        <a routerLink="/invoices/add" class="btn btn-success text-white control">Add new</a>
                    </div>

                    <div class="table-responsive">

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">
                                    Ref
                                </th>
                                <th scope="col">
                                    Client
                                </th>
                                <th scope="col">
                                    Invoice value
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let invoice of invoices">
                                <th scope="col">
                                    <a routerLink="/invoices/{{ invoice.id }}">INV{{ 100000 + invoice.id }}</a>
                                </th>
                                <th scope="col">
                                    <a routerLink="/clients/{{ invoice.client.id }}">{{ invoice.client.name  }}</a>
                                </th>
                                <th scope="col">
                                    {{ invoice.display_amount | currency: 'GBP' }}
                                </th>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

