<section class="add-client">
    <div class="add-client__outer-container">
        <div class="add-client__inner-container container">
            <div class="row">
                <div class="offset-md-4 col-12 col-md-4">

                    <div>
                        <button class="btn btn-info" (click)="goBack()">Back</button>
                    </div>
                    <div>

                        <h1>Edit invoice</h1>
                        <app-add-edit-invoice [saveForm]="false" [invoice]="invoice" *ngIf="invoice"></app-add-edit-invoice>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>