<section class="add-job">
    <div class="add-job__outer-container">
        <div class="add-job__inner-container container">
            <div class="row">

                <div class="col-12 col-md-4 offset-md-4">
                    <div class="col-12">
                        <button class="btn btn-info" (click)="goBack()">Back</button>
                    </div>
                    <div class="col-12">
                        <h1>Edit job</h1>

                        <app-add-edit-job [job]="job" [saveForm]="false" *ngIf="job"></app-add-edit-job>


                    </div>
                </div>


            </div>
        </div>
    </div>
</section>