
<form #addEditJobForm="ngForm" *ngIf="job" (ngSubmit)="onSubmit()" method="post">

    <div class="form-group">
        <label>
            Choose client:
            <select class="form-control"[disabled]="job.client_id  && !saveForm" [(ngModel)]="job.client_id" name="client_id">
                <option class="disabled" disabled="disabled">choose a client</option>
                <option *ngFor="let client of clients" [selected]="job.client_id === client.id" [value]="client.id">{{ client.name }}</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>
            Title:
            <input class="form-control" type="text" [(ngModel)]="job.title" name="title">
        </label>
    </div>

    <div class="form-group">
        <label>
            Description:
            <textarea class="form-control" [(ngModel)]="job.description" name="description">{{ job.description }}</textarea>
        </label>
    </div>

    <div class="form-group">
        <label>
            Date accepted:
            <ng-template *ngIf="!saveForm; then presentDA; else createDA">
            </ng-template>

            <ng-template #presentDA>
                <input class="form-control" type="date" [value]="job.date_accepted| date : 'yyyy-MM-dd'" disabled>
            </ng-template>

            <ng-template #createDA>
                <input class="form-control" type="date" [(ngModel)]="job.date_accepted" name="date_accepted">
            </ng-template>

        </label>
    </div>

    <div class="form-group">
        <label>
            Date due:
            <ng-template *ngIf="!saveForm; then presentDD; else createDD">
            </ng-template>

            <ng-template #presentDD>
                <input class="form-control" type="date" [value]="job.date_due| date : 'yyyy-MM-dd'" disabled>
            </ng-template>

            <ng-template #createDD>
                <input class="form-control" type="date" [(ngModel)]="job.date_due" name="date_due">
            </ng-template>
        </label>
    </div>

    <div class="form-group">
        <label>
            Cost quoted:
            <input
                class="form-control"
                type="number"
                step=".01"
                name="cost_quoted"
                [(ngModel)]="interimCost">
        </label>
    </div>

    <div>

        <ng-template *ngIf="saveForm; then save; else update">
        </ng-template>

        <ng-template #save>
            <button class="btn btn-success float-right">Save</button>
        </ng-template>

        <ng-template #update>
            <button class="btn btn-success float-right">Update</button>
        </ng-template>

    </div>

</form>