<template>


    <section class="view-all clients">
        <div class="view-all__outer-container">
            <div class="view-all__inner-container container">
                <div class="row">
                    <div class="col-12">
                        <h1>View Clients</h1>

                        <table class="table table-striped table-bordered" v-if="client">

                            <tr>
                                <th scope="row">
                                    Name
                                </th>
                                <td>
                                    {{ client.name }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Address
                                </th>
                                <td>
                                    {{ client.address.join(', ') }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Phone number
                                </th>
                                <td>
                                    {{ client.phone_number }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Client since
                                </th>
                                <td>
                                    {{ client.client_since }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Value
                                </th>
                                <td>
                                    {{ '£' + client.value.toFixed(2) }}
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

  export default {
    name: 'view-client',
    data() {
      return {
        client : {
          default: function () {
            return [];
          }
        }
      }
    },
    props : {
      id : {
        default: function() {
          return 0;
        }
      }
    },
    created: function() {
      this.getClient();
    },
    methods : {
      getClient: function() {

        const client_url = 'http://lumen.api/clients/' + this.id;
        this.$http.get(client_url ).then(response => {

          // get body data
          console.log(response.body);
          return this.client = response.body;

        }, response => {
          // error callback
        });
      }
    }
  }
</script>
