<template>


    <section class="view-all clients">
        <div class="view-all__outer-container">
            <div class="view-all__inner-container container">
                <div class="row">
                    <div class="col-12">
                        <h1>View Clients</h1>

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Client since
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody v-if="clients.length > 0">
                                <tr v-for="client in clients">
                                    <td>
                                        <router-link :to="'/clients/' + client.id ">{{ client.name }}</router-link>
                                    </td>
                                    <td>
                                        {{ client.client_since }}
                                    </td>
                                    <td>
                                        {{ '£' + client.value.toFixed(2) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

  export default {
    name: 'view-clients',
    data() {
      return {
        clients : {
          default: function () {
            return [];
          }
        }
      }
    },
    created: function() {
      this.getClients();
    },
    methods : {
      getClients: function() {
        this.$http.get('http://lumen.api/clients').then(response => {

          // get body data
          console.log(response.body);
          return this.clients = response.body;

        }, response => {
          // error callback
        });
      }
    }
  }
</script>
