<section class="view-jobs">
    <div class="view-jobs__outer-container">
        <div class="view-jobs__inner-container container">
            <div class="row">
                <div class="col-12">

                    <div class="align-content title-w-control">
                        <h1>View Jobs</h1>
                        <a routerLink="/jobs/add" class="btn btn-success text-white control">Add new</a>
                    </div>

                    <div class="table-responsive">

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Client
                                </th>
                                <th scope="col">
                                    Date due
                                </th>
                                <th scope="col">
                                    Value
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let job of jobs">
                                <th scope="col">
                                    <a routerLink="/jobs/{{ job.id }}">{{ job.title }}</a>
                                </th>
                                <th scope="col">
                                    <a routerLink="/clients/{{ job.client.id }}">{{ job.client.name }}</a>
                                </th>
                                <th scope="col">
                                    {{ job.date_due | date }}
                                </th>
                                <th scope="col">
                                    {{ job.cost_quoted / 100 | currency: 'GBP' }}
                                </th>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

